<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Crew members</title>
</head>
<body style="margin: 15px">
    <h3>All crew members</h3><br>

    <table class="table table-hover">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Date of birth</th>
            <th>Movie</th>
            <th>Role</th>
        </tr>
        {% for member in my_pager.currentPageResults %}
            <tr>
                <td>{{ member.id}}</td>
                <td>{{ member.firstName }}</td>
                <td>{{ member.lastName }}</td>
                <td>{{ member.birthDate }}</td>
                <td>{{ member.movie.name }}</td>
                <td>{{ member.role.role }}</td>
            </tr>
        {% endfor %}
    </table>
    {{ pagerfanta(my_pager, 'twitter_bootstrap3', { 'omitFirstPage': true }) }}
    <br>
    <div>
        <a href="/" class="btn btn-warning">Go home!</a>
    </div>
</body>
</html>